h1 {
  color: Fuchsia;
  text-align: center;
  font-size: 50px;

}

h2 {
  color: White;
  font-size: 40px;


}

h3 {
  color: White;
  font-size: 30px;


}

.topnav {
    font-color: #8095d6;
    overflow: hidden;
}

body {
    background-image: url("keybackground.jpg");
}
