h1 {
  color: Fuchsia;
  text-align: center;
  font-size: 50px;

}

h2 {
  color: White;
  font-size: 40px;


}

h3 {
  color: White;
  font-size: 30px;


}

.topnav {
    background-color: #0099ff;
    overflow: hidden;
}

.topnav a {
    color: #ffff4d;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

body {
    background-image: url("keybackground.jpg");
